body{
    padding: 0;
    margin: 0;
    background-color: rgb(28, 31, 31);
}

.menu{
    width: 300px;
    height: 100%;
    position: absolute;
    background-color: rgb(15, 14, 15);
    padding: 0 10px 0 10px;
}

/* VERIFICAR SE É POSSÍVEL MELHORAR  */
@media screen and (min-width: 1966px) and  (max-width: 4158px){
    .grid-mobile {
        display: none;
    }
    footer{
        display: none;
    }    
}
@media screen and (min-width: 1101px) and  (max-width: 1966px){
    .grid-mobile {
        display: none;
    }
    footer{
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    .menu {
        display: none;
    }
    .grid-mobile {
        display: none;
    }
    footer{
        display: none;
    }    
    
}

.menu-itens{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.menu-itens a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
    text-decoration: none;
    color: #FFF;
    margin-bottom: 20px;
}

.music-player{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
}

.disc-playing{
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.first-section{
    display: flex;
}

.playlist-img{
    padding: 0;
    margin: 0;
    height: 300px;
    width: 300px;
    background: linear-gradient(68.15deg, #283131 16.62%, #1f8860 85.61%);
}

.main-content{
    height: 100%;
    margin-left: 350px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
}

@media screen and (max-width: 1100px) {
    .main-content {
        margin: 0;
    }
    footer{
        display: none;
    }
}

.main-title{
    font-size: 100px;
    color: #FFF;
    margin-top: 80px;
    margin-left: 10px;
}

.table-container{
    height:285px;
    overflow:auto;
}

.table-grid {
    width: 100%;
    border-spacing: 0;
}

.table-grid tr{
    text-align: left;
    width: 30px;
    height: 60px;
    color: #FFF;
    border: 5px solid;
    border-radius: 50px;
}

.table-grid tr:hover{
    background-color: rgb(129, 129, 129);
    cursor: pointer;
}

.table-grid tr, td{
    user-select: none;
}

.grid-mobile{
    flex-direction: column;
    justify-content: space-around;
}

.song-grid-mobile{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.song-grid-mobile img{
    width: 80px;
    height: 80px;
}

.song-grid-mobile p{
    margin-left: 20px;
}

.song-grid-mobile:hover{
    background-color: rgb(129, 129, 129);
    cursor: pointer;
}

.section-footer-mobile{
    position: fixed;
    left: 0;
    bottom: 0px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(15, 14, 15);
}

.section-footer-mobile a{
    margin: 50px auto;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: #FFF;
}

@media screen and (max-width: 750px){
    .table-grid{
        display: none;
    }
    .grid-mobile{
        display: flex;
    }
    .playlist-img {
        display: none;
    }    
    .main-title{
        margin: 0;
        font-size: 30px;
    }
    .table-container{
        display: none;
    }
    footer{
        display: block;
    }
}

.pa{
    margin: 5px;
    text-align: center;
    color: #FFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.song-selected{
    background-color: rgb(110, 108, 108);
}

.section-player {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(53, 55, 55);
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FFF;
}

@media screen and (max-width: 750px){
    .section-player{
        position: fixed;
        left: 0;
        bottom: 100px;
        height: 100px;
        width: 100%;
    }
}