*{
    user-select: none;
}
body{
    padding: 0;
    margin: 0;
    background: rgb(25,25,25);
    background: linear-gradient(0deg, rgb(11, 11, 11) 78%, rgba(39,177,124,1) 100%);
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgb(24,24,24);; 
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.menu{
    width: 300px;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: rgb(11, 11, 11);
}
.menu-itens{
    margin-top: 20px;
    margin-left: 30px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    gap: 50px 20px;
}

.menu-itens a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
    text-decoration: none;
    color: #B0B0B0;
}

.menu-itens a:hover{
    color: #FFF;
    transition: 0.50s;
}

.menu-options{
    display: flex;
    flex-direction: column;
    gap: 15px 15px;
}

.user-options{
    display: flex;
    flex-direction: column;
    gap: 15px 15px;
}

.disc-photo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 110px;
}

.disc-playing{
    display: none;
    height: 250px;
    width: 250px;
    border-radius: 2px;
}

.first-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0 20px;
}
.first-section h1{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 100px;
    margin: 0;
    color: #FFF;
}

#profile-photo{
    display: none;
    height: 40px;
    width: 40px;
    background: #FFF;
    border-radius: 50%;
}

#mobile-menu{
    display: none;
    cursor: pointer;
}
.playlist-img{
    padding: 0;
    margin: 0;
    height: 300px;
    width: 300px;
}

.first-section-options{
    display: none;
    flex-direction: row;
    gap: 0 16px;
}

.first-section-top{
    display: flex;
    flex-direction: row;
}

.main-content{
    margin-left: 320px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
}
.table-grid{
    width: 100%;
    border-spacing: 0;
}
.table-container{
    height:100%;
    margin-bottom: 15vh;
}

.table-grid thead{
    top: 0;
    position: sticky;
    color: #888;
    background: rgb(11, 11, 11);
}

.table-grid thead th{
    border-bottom: 2px solid rgb(149, 149, 149);
}

.table-grid tbody tr:hover{
    background-color: rgba(72, 72, 72, 0.423);
    cursor: pointer;
}

.table-grid tr{
    text-align: left;
    width: 30px;
    height: 60px;
    color: #FFF;
    border: 5px solid;
    border-radius: 50px;
}

.grid-mobile-container{
    display: none;
    padding-top: 2vh;
    overflow-y: auto;
    height: 65vh;
}

.grid-mobile{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px 0;
    
}

.song-grid-mobile{
    display: flex;
    align-items: center;
    gap: 0px 10px;
}

.song-grid-mobile img{
    width: 40px;
    height: 40px;
}

.section-footer-mobile{
    display: none;
}

.song-grid-mobile:hover{
    background-color: rgb(129, 129, 129);
    cursor: pointer;
}

.section-footer-mobile a{
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: #B0B0B0;
}

.section-footer-mobile a i{
    font-size: 20px;
}

.section-footer-mobile a:hover{
    color: #FFF;
    transition: 0.50s;
}

.footer-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.song-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.song-info p{
    margin: 0;
}

.song-info .song-name{
    font-size: 16px;
    color: #FFF;
}

.song-info .song-author{
    font-size: 14px;
    color: #c0c0c0;;
}

tr.song-playing{
    color: #27b17c !important;
}

div.song-playing .song-name{
    color: #27b17c !important;
}

.player-container {
    position: fixed;
    bottom: 0;
    height: 14vh;
    width: 100vw;
    display: none;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
}
.player-container p{
    text-align: left;
}

.controls{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    padding: 0px 20px 0px 10px;
}

.top-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottom-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section-left{
    display: flex;
}

.song-description{
    display: flex;
    flex-direction: column;
    color: #FFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

.song-description span{
    font-size: 14px;
    color: #c0c0c0; 
}

.section-middle{
    position: fixed;
    left: 42vw;
    bottom: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.section-middle i:not(.active){
    color: rgb(185, 185, 185);
    transition: 0.2s;
}
.section-middle i:not(.active):hover{
    color: rgb(255, 255, 255);
    transition: 0.2s;
}
.section-middle i.active{
    color: rgb(33, 211, 152);
    transition: 0.2s;
}
.section-middle i.active:hover{
    color: rgb(7, 137, 93);
    transition: 0.2s;
}
.section-right{
    position: fixed;
    right: 10vw;
    bottom: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#vol-icon{
    font-size:24px;
}
.volume-bar{
	background: #1f1f1f;
	width: 80px;
	height: 5px;
	border-radius: 5px;
}
.volume-progress {
	width: 10px;
    min-width: 0;
    max-width: 80px;
	height: 5px;
	border-radius: 5px;
	background: rgb(185, 185, 185);
}
.volume-bar.hover-colored:hover .volume-progress{
    background: #1f8860;
}
.tiny-icon{
    color: #FFF;
    font-size:16px;
}
.small-icon{
    color: #FFF;
    font-size:24px;
}
.medium-icon{
    color: #FFF;
    font-size:32px;
}

.big-icon{
    color: #FFF;
    font-size:36px;
}

.song-bar-container{
    position: fixed;
    left: 28vw;
    bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#song-progression{
    color: #FFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#song-lenght{
    color: #FFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.small-song-progress-bar {
	background: #1f1f1f;
	width: 100vw;
	height: 2px;
	border-radius: 5px;
}

.small-song-progress {
    min-width: 0;
    max-width: 100vw;
	width: 0;
	height: 2px;
	border-radius: 5px;
	background: #ffffff;
}

.song-progress-bar {
	background: #1f1f1f;
	width: 500px;
	height: 5px;
	border-radius: 5px;
}

.song-progress {
    min-width: 0;
    max-width: 500px;
	width: 0px;
	height: 5px;
	border-radius: 5px;
	background:  rgb(185, 185, 185);
}

.song-progress-bar.hover-colored:hover .song-progress{
    background: #1f8860;
}

#mobile-progress-bar{
    display: none;
}

@media(max-width: 1066px){

    body{
        background: linear-gradient(0deg, rgb(11, 11, 11) 84%, rgba(39,177,124,1) 100%);
    }

    .first-section h1{
        font-size: 50px;
    }

    .playlist-img{
        height: 200px;
        width: 200px;
    }

    tr th#author, tr th#singer{
        display: none;
    }

    tr td.table-data-author, tr td.table-data-singer{
        display: none;
    }

    .song-bar-container{
        width: 50vw;
    }
}

@media screen and (max-width: 450px){
    body{
        background: rgb(24,24,24);
    }

    .header{
        height: 0vh;
    }

    .main-content{
        height: 0vh;
    }

    .menu{
        display: none;
    } 
    .main-content {
        margin: 0;
    }

    .first-section{
        height: 8vh;
        border-bottom: 2px solid rgb(149, 149, 149);
        justify-content: space-between;
    }
    .first-section h1{
        font-size: 24px;
    }
    
    .first-section-options{
        display: flex;
    }
    #profile-photo{
        display: flex;
    }
    #mobile-menu{
        display: block;
    }
    .playlist-img {
        display: none;
    }
    .table-container{
        display: none;
    }
    .table-grid{
        display: none;
    }
    .grid-mobile-container{
        display: block;
    }
    .player-container{
        position: initial;
        left: 0;
        height: 10vh;
    }
    .controls{
        justify-content: space-around;
    }

    #mobile-progress-bar{
        display: block;
    }

    .footer{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: fixed;
        background: rgb(24,24,24);
        left: 0;
        bottom: 0;
        width: 100%;
        height: 20vh;
    }

    .song-bar-container{
        display: none;
    }
    .section-left{
        position: initial;
        bottom: 0;
        left: 0;

    }
    .section-middle{
        position: initial;
    }
    .section-right{
        display: none;
    }
    .section-footer-mobile{
        left: 0;
        bottom: 0;
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgb(15, 14, 15);
    }
}

button, button:focus, button:active{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}